<div class="card">
    <div class="jumbotron">

        <div class="row">
            <div class="col">
                <h3>Welcome Christopher</h3>
            </div>
            <div class="col">
                <h4>Balance</h4>
                <h2>${{Balance}}</h2>
            </div>
    </div>
    </div>
    <div *ngFor="let trans of allTrans" class="media border p-3">
        <i class="fas fa-3x fa-money-check-alt mr-3 mt-3 rounded-circle" style="width:60px;"></i>
        <div class="media-body">
        <h4>{{trans.name}} <small><i>{{trans.process}} on {{trans.created_at|date:'MM/dd/yy'}}</i></small></h4>
              <div class="row">
                  <div class="col">

                      <h4 [ngStyle]="{'color':trans.process == 'Withdraw' ? 'red' : 'green' }">${{trans.amount}}.00</h4>
                  </div>
                  <div class="col">
                      <!-- <h3 *ngIf='trans.process=="Withdraw"'>{{Balance-trans.amount}}</h3>
                      <h3 *ngIf='trans.process=="Deposit"'>{{Balance+trans.amount}}</h3> -->
                      
                  </div>
              </div>
        </div>
      </div>